name: Daily Video Post

on:
  schedule:
    - cron: '0 5 * * *' 
  workflow_dispatch:

jobs:
  run-automation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          persist-credentials: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: pip install requests

      - name: Execute Script
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: python main.py

      - name: Commit and Push Deletion
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          # 'git add -A' इस्तेमाल करने से केवल वो फाइल रिमूव होगी जो स्क्रिप्ट ने डिलीट की है
          git add -A
          git commit -m "System: Removed only the processed video file" || echo "No changes to commit"
          git push
