name: Aarvi page

on:
  schedule:
    - cron: '30 2 * * *' # Daily ~8:00 AM IST
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Automation Script
        env:
          # In Secrets ko Settings > Secrets and variables > Actions me dalein
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          WEBHOOK_URL: ${{ secrets.WEBHOOK_URL }}
        run: python main.py

      - name: Save History
        if: always() # Hamesha save karega chahe fail ho
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add history.txt
          git commit -m "Update history logs [skip ci]" || echo "No changes"
          git pull --rebase origin main
          git push origin main
